/* Chat component */
.chat{
    display: flex;
    flex-direction: column;
    /* q abarque todo el espacio q pueda */
    flex: 1;
    background-color: #22272e;
    /* abarca todo el alto de la pantalla del dispositivo */
    height: 100vh;
}

.chat__messages{
    /* q abarque todo el espacio q pueda */
    flex: 1;
}

.chat__input{
    color: gray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border-radius: 5px;
    margin: 20px;
    border: 1px solid gray;
    background-color: #474b53;
    box-shadow: 1px 0px 12px 2px rgba(42, 44, 43, 0.3);
}

.chat__input > form{
    flex: 1;
}

.chat__input > form > input{
    background: transparent;
    /* outline-width: 0; pa quitarle el focus de bordes negros :) */
    outline-width: 0;
    width: 100%;
    padding: 15px;
    font-size: large;
    color: white;
    border: none;
}

.chat__inputButton{
    display: none;
}

.chat__inputIcons > .MuiSvgIcon-root{
    padding: 5px;
    cursor: pointer
}



