:root {
  --gray30: #1b1e22;
  --gray20: #343a40;
  --gray10: #495057;
  --gray5: #adb5bd;
  --green: #37b24d;
  --light: #ffffff;
}

/* Sidebar general */

body{
  color: var(--gray10)
}

.sidebar {
  display: flex;
  flex-direction: column;
  /* q crezca 0.40 -> flex-grow, este flex-grow seria como ponerle un width a la columna
  la diferencia es que esta se estira dependiendo de la pantalla
  */
  flex: 0.40;
  height: 100vh;
  background-color: var(--gray30);
}

.sidebar__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid var(--gray20);
  box-shadow: 1px 0px 12px 2px rgba(42, 44, 43, 0.3);
  color: var(--light);
}

.sidebar__addChannel:hover,
.sidebar__expandMore:hover {
  cursor: pointer;
}

.sidebar__channel {
 /* ocupar todo el espacio q pueda */
  flex: 1;
}

.sidebar__channelsHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: var(--gray5)
}

.sidebar__header{
    display: flex;
    align-items: center;
}

/* Sidebar Channels component */
.sidebarChannels:hover{
    color: var(--green);
    background-color: var(--gray20);
}

.sidebarChannels > h4 {
    display: flex;
    padding-left: 15px;
    align-items: center;
    cursor: pointer
}

/* hacer mas grande los # */
.sidebarChannel_hash{
  font-size: 30px;
  padding: 8px;
}

.sidebar__voice, .sidebar__profile{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid var(--gray20);
  box-shadow: 1px 0px 12px 2px rgba(42, 44, 43, 0.3);

}

.sidebar__voiceIcon{
  color: var(--green)
}

.sidebar__voiceInfo, .sidebar__profileInfo{
  /* flex 1 para que abarque todo el espacio disponible */
  flex: 1;
  padding: 10px;
}

.sidebar__voiceInfo > h3{
  color: var(--green)
}

/* dar estilos a iconos de material ui */
.sidebar__voiceIcons > .MuiSvgIcon-root, .sidebar__profileIcons > .MuiSvgIcon-root{
  padding: 10px;
}

.sidebar__profile h3{color: var(--light)}




